

h1{
    text-transform: uppercase;
    font-family: Inconsolata;
    font-weight:700;
    font-size: 24px;
    margin-top: 40px;
    margin-left: 77px;
    width: 133px;
    height: 25px;
    line-height: 25px;
    letter-spacing: -0.08em;
    font-style: normal;
    
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  width: 540px;
  height: 415px;
 
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  font-size: 64px;
  flex-wrap: wrap;
  font-family: "Space Mono";
  margin-right: 77px;
  margin-top: -10px;
}

#content-paragraph {
  margin-top: -70px;
  font-family: "Space Mono";
  font-size: 25px;
}

button {
  width: 245px;
  background-color: black;
  color: white;
  height: 60px;
  padding: 10px;
  font-family: "Space Mono";
  font-weight:700;
  text-transform: uppercase;
  margin-bottom: -14px;
  border-radius: 2px;
}

footer {
  position: absolute;
  bottom: -70px;
  width: 100%;
  color:grey;
  font-family:"Montserrat";
  height: 100px;
  font-size: 14px;
  text-align: center;
}
